@charset "UTF-8";

@font-face {
    font-family:'padrao';
    src: url(fontes/BebasNeue-Regular.otf) format(opentype);
}

@font-face {
    font-family:'Roboto';
    src: url(fontes/Roboto-Regular.ttf) format(truetype);
}
* {
    margin:0px;
    padding:0px;
}
:root {
    --cor0:#02D2E6;
    --cor1:#028AE6;
    --cor2:#1E56E6;
    --cor3:#3066BE;
    --cor4:#0D1821;

    --fonte-padrao:'padrao', arial, Helvetica, sans-serif;
    --fonte-texto:'Roboto', arial, 'cursive';
}

body {
    background-color:white;
    font-family:var(--fonte-texto);
}

header {
    background-image:linear-gradient(to bottom, var(--cor1), var(--cor4));
    text-align:center;
    font-family: var(--fonte-texto);
    margin-bottom: 20px;
}

header > h1 {
    font-family:var(--fonte-texto);
    font-variant: small-caps;
    color:white;
    font-weight:normal;
    font-size:4em;
    text-shadow:2px 2px 0px black;
}

header > p { 
    color:white;
    font-size:1.5em;
    font-weight: normal;
    padding-left: 5px;
    font-family:var(--fonte-padrao);
    margin:auto;
    margin-bottom:10px;

}

nav { background-color:var(--cor4);
    padding:10px;
    box-shadow:0px 7px 7px rgba(0, 0, 0, 0.288);
    text-align: justify;
}

nav > a {
    color:white;
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    transition-duration:0.2s;
}

nav > a:hover { 
    text-decoration: underline;
    color:var(--cor3);
} 

main { font-family:var(--fonte-texto);
    font-size:1.5em;

}

main > h1 {
    font-family:var(--fonte-padrao);
    color:white;
    font-size:1.8em;
    background-image:linear-gradient(to right, var(--cor3),transparent);
    font-weight:normal;
    padding:8px;

}

main > h2 


article > p  {
    margin:15px 0px;
    text-align: justify;
    text-indent:30px;
    line-height:1.5em;
    font-size:1em;
    font-family:var(--fonte-texto);
}

main img {
    width:100%;
    background-attachment:fixed;
    border-radius:20px;
    height:50%;
}


main.video {
    display:block;
    margin:auto;
}

section.fundo {
     background-color:var(--cor4);
}




